<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}

        <title>AI:MMO</title>
        <meta name="description" content="A Massively Multi-player Online game, where players create Artificially Intelligent programs to play on their behalf.">

        {# TODO: favicon #}

        {# bootstrap #}
        {# Latest compiled and minified CSS #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        {# Optional theme #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        {% block styles %}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">AI:MMO</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% block nav-program %}<li><a href="{% url 'aimmo/program' %}">Program<span class="sr-only"> (current)</span></a></li>{% endblock %}
                        {% block nav-watch %}<li><a href="{% url 'aimmo/watch' %}">Watch</a></li>{% endblock %}
                        {% block nav-statistics %}<li><a href="{% url 'aimmo/statistics' %}">Statistics</a></li>{% endblock %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        {# Latest compiled and minified JavaScript #}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script src="{% url 'aimmo/js_reverse' %}" type="text/javascript"></script>

        {# HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries #}
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block scripts %}
        {% endblock %}
    </body>
</html>
