{% extends 'players/base.html' %}

{% block nav-program %}<li class="active"><a href="{% url 'aimmo/program' %}">Program<span class="sr-only"> (current)</span></a></li>{% endblock %}

{% block content %}
<div class="row">

        <div class="row">
            <h2>Program</h2>
            <p>Use the box below to program your Avatar. Save using the button below.</p>
        </div>
        <div class="row">
            <div id="alerts" class="alert collapse" role="alert">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div id="editor"></div>
                </div>
                <div class="row top10">
                    <form id="saveForm" action="{% url 'aimmo/code' %}" method="POST">
                        {% csrf_token %}
                        <div id="buttons">
                            <input type="submit" id="saveBtn" type="button" class="btn btn-lg btn-primary text-center" value="Save" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <div id="console" class="col-md-12">
                    Event: ReceivedAttackEvent<br>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="/static/css/program.css">
<script src="//cdn.jsdelivr.net/ace/1.2.0/min/ace.js"></script>
<script src="/static/js/program.js"></script>
{% endblock %}
