{% extends 'players/base.html' %}

{% block nav-program-class %}active{% endblock %}

{% block content %}
<div class="row">
    <h2>Program</h2>
    <p>Use the box below to program your Avatar. Save using the button on the right.</p>
</div>
<div class="row">
    <div id="alerts" class="alert collapse" role="alert">
    </div>
</div>
<div class="row">
    <div id="editor" class="col-md-9"></div>
    <form id="saveForm" action="" method="POST">
        {% csrf_token %}
        <div id="buttons" class="col-md-3">
            <input type="submit" id="saveBtn" type="button" class="btn btn-lg btn-primary text-center" value="Save" />
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    var GAME_ID = {{ game_id|escapejs }}
</script>
<link rel="stylesheet" href="/static/css/program.css">
<script src="//cdn.jsdelivr.net/ace/1.2.4/min/ace.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.2.4/min/ext-language_tools.js"></script>
<script src="/static/js/program.js"></script>
{% endblock %}
