{% extends 'players/base.html' %}

{% block nav-watch-class %}active{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/watch.css"/>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var GAME_URL_BASE = "{{ game_url_base }}";
    var GAME_URL_PATH = "{{ game_url_path }}";
    var CURRENT_USER_PLAYER_KEY = "{{ current_user_player_key }}";
    var ACTIVE = {{ active|lower }};
    var STATIC_DATA = {{ static_data|safe }};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript" src="/static/js/lib/raphael-min.js"></script>

<!-- https://stackoverflow.com/questions/11467873/how-to-append-timestamp-to-the-java-script-file-in-script-tag-url-to-avoid-cac-->

<!-- <script type="text/javascript" src="/static/js/watch/world-viewer.js?v=10"></script> -->
<!-- <script type="text/javascript" src="/static/js/watch/world-controls.js?v=10"></script> -->

<script>document.write("<script type='text/javascript' src='/static/js/watch/world-viewer.js?v=" + Date.now() + "'><\/script>");</script>
<script>document.write("<script type='text/javascript' src='/static/js/watch/world-controls.js?v=" + Date.now() + "'><\/script>");</script>
{% endblock %}

{% block content %}
<span id="watch-world-canvas"></span>
{% endblock %}
