{% extends 'players/base.html' %}

{% block nav-watch-class %}active{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/program.css">
<link rel="stylesheet" href="/static/css/watch.css">
<link rel="shortcut icon" href="/static/unity/TemplateData/favicon.ico" />
{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.min.js"></script>

<script type="text/javascript">
var GAME_URL_BASE = "{{ game_url_base }}";
var GAME_URL_PATH = "{{ game_url_path }}";
var GAME_URL_PORT = {{ game_url_port }};
var GAME_SSL_FLAG = "{{ game_ssl_flag }}";
var GAME_ID = {{ game_id }};
var WEB_HOST_URL = "{{ web_host_base }}";


// Sends a AJAX GET request to
function GetCurrentAvatarID(gameInstance) {
    var xhr = new XMLHttpRequest();
    var current_avatar_url = `${this.window.location.toString().replace(/(.*)watch\/[0-9]+\/?/,'$1')}api/games/${GAME_ID}/current_avatar/`;

    xhr.open('GET', current_avatar_url);
    xhr.onload = function() {
        if (xhr.status === 200) {
            var CURRENT_AVATAR_ID = JSON.parse(xhr.responseText).current_avatar_id;
            gameInstance.SendMessage("World Controller", "SetCurrentAvatarID", CURRENT_AVATAR_ID);
        }
        else {
            console.warn('Current avatar ID not resolved! Returned status:' + xhr.status);
        }
    };

    xhr.send();
}


// Send host and port to Unity.
function SendAllConnect() {
  console.log(`SendAllConnect function call details: base: ${GAME_URL_BASE} path: ${GAME_URL_PATH} port: ${GAME_URL_PORT} SSL_FLAG: ${GAME_SSL_FLAG}`);
  GetCurrentAvatarID(gameInstance);
  gameInstance.SendMessage("World Controller", "SetGameURL", GAME_URL_BASE);
  gameInstance.SendMessage("World Controller", "SetGamePort", GAME_URL_PORT);
  gameInstance.SendMessage("World Controller", "SetGamePath", GAME_URL_PATH);
  gameInstance.SendMessage("World Controller", "SetSSL", GAME_SSL_FLAG);
  gameInstance.SendMessage("World Controller", "EstablishConnection");
}

</script>
<script>
    var GAME_ID = {{ game_id|escapejs }}
</script>
<script src="//cdn.jsdelivr.net/ace/1.2.4/min/ace.js"></script>
<script src="//cdn.jsdelivr.net/ace/1.2.4/min/ext-language_tools.js"></script>
<script src="/static/js/program.js"></script>
{% endblock %}

{% block content %}
<div class="aimmo-container">
  <div>
      <div id="alerts" class="alert collapse" role="alert">
      </div>
      <div id="editor"></div>
      <form id="saveForm" action="" method="POST">
          {% csrf_token %}
          <div id="buttons">
              <input type="submit" id="saveBtn" type="button" class="btn btn-lg btn-primary text-center" value="Save" />
          </div>
      </form>
  </div>
  {% block viewer %}
  {% endblock viewer %}
</div>

{% endblock %}
