{% extends 'players/base.html' %}

{% block nav-watch %}<li class="active"><a href="{% url 'watch' %}">Watch</a></li>{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/watch.css"/>
{% endblock %}

{% block scripts %}
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script type="text/javascript" src="/static/js/lib/raphael-min.js"></script>
<script type="text/javascript" src="/static/js/watch/world-viewer.js"></script>
<script type="text/javascript" src="/static/js/watch/world-controls.js"></script>
{% endblock %}

{% block content %}
<span id="watch-world-canvas"></span>
{% endblock %}
