/* Scalable canvas */

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.fullWidth {
  width: 100%;
  height: 100%;
}

div.fullWidth canvas {
  width: 100%;
  height: 100%;
}

body {
  background-color: #2B2F37;
  width: 100%;
  height: 100%;
}


/* Logo */

div#loadingBox {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  text-align: center;
}

img#logo {
  height: calc(100% - 25px);
  content:url("logo.png");
}


/* Progress bar */

div#bgBar {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  left: 50%;
  height: 5px;
  display: block;
  background-color: #333;
}

div#progressBar {
  left: 50%;
  position: absolute;
  margin-left: -100px;
  width: 0px;
  height: 5px;
  background-color: #2796C4;
  border-radius: 2px;
}

div#bgBar {
  border-radius: 2px;
}

p#loadingInfo {
  color: #e6e6e6;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
  font-family: "Monaco", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 8px;
  margin-top: 10px;
}
