[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aimmo-game = {editable = true, path = "."}
docker = "*"
kubernetes = "*"
prometheus-client = "*"
aiohttp = "*"
aiohttp-cors = "*"

[requires]
python_version = "3.6.7"
