[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aimmo-game = { path = ".", editable = true }
docker = "*"
kubernetes = "*"
prometheus-client = "*"
aioresponses = "*"
grpcio = "*"
protobuf = "*"
aiohttp = "*"
idna-ssl = "*"
google-api-python-client = "*"
google-cloud-logging = "*"
python-socketio = "5.0.3"
eventlet = "*"

[dev-packages]
pytest = "~=6.2"
pytest-mock = "*"
black = "==20.8b1"
httmock = "*"
asynctest = "*"
hypothesis = "*"
mock = "*"
pytest-aiohttp = "*"
aioresponses = "*"

[requires]
python_version = "3.7"
