[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "~=6.2"
pytest-asyncio = "==0.17.2"
pytest-pythonpath = "*"
black = "*"

[packages]
aimmo-game = {editable = true,path = "."}
docker = "*"
eventlet = "*"
kubernetes = "*"

[requires]
python_version = "3.7"
