[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "~=6.2"
pytest-django = "==4.5.2"
pytest-pythonpath = "*"
# TODO uncomment after Django upgrade
# codeforlife-portal = "*"
pytest-cov = "*"
black = "*"
django-test-migrations = "==1.2.0"

[packages]
aimmo = {editable = true,path = "."}
django-autoconfig = { git = 'https://github.com/ocadotechnology/django-autoconfig.git', ref = 'upgrade-django' }
kubernetes = "*"
eventlet = "*"
docker = "*"
wheel = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
