{% extends 'players/base.html' %}

{% block content %}
<div class="row">
    <h2>Program</h2>
    <p id="aimmo-program-description"></p>
</div>
<div class="row">
    <div id="alerts" class="alert alert-danger collapse" role="alert">
        <span id="aimmo-alert-text"></span>
        <span id="aimmo-alert-message-outer">
            <br>
            <br>
            <span id="aimmo-alert-message-inner"></span>
        </span>
    </div>
</div>
<div class="row">
    <div id="editor" class="col-md-9"></div>
    <form id="saveForm" action="{% url 'code' %}" method="POST">
        {% csrf_token %}
        <div id="buttons" class="col-md-3">
            <input type="submit" id="saveBtn" type="button" class="btn btn-lg btn-primary text-center" />
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="/static/css/program.css">
<script src="//cdn.jsdelivr.net/ace/1.2.0/min/ace.js"></script>
<script src="/static/js/program.js"></script>
{% endblock %}