{% extends 'players/base.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/watch.css"/>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
<script type="text/javascript" src="/static/js/watch/world-viewer.js"></script>
<script type="text/javascript" src="/static/js/watch/world-controls.js"></script>
{% endblock %}



{% block content %}
<span id="watch-world-canvas"></span>
{% endblock %}