[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "==26.1.0"
docker = "<6"
aimmo-game-worker = {editable = true, path = "."}
restrictedpython = "==5.3"
aiohttp = "*"
aiohttp-cors = "*"
idna-ssl = "*"

[requires]
python_version = "3.8"

[dev-packages]
"autopep8" = "*"
