[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"

[packages]
aimmo-game-worker = {editable = true, path = "."}
aiohttp = "*"
aiohttp-cors = "*"
docker = "<6"
idna-ssl = "*"
kubernetes = "==26.1.0"
restrictedpython = "==5.3"

[requires]
python_version = "3.8"
