[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
aimmo-game-creator = {editable = true, path = "."}
docker = ">= 3.5, < 3.6"

[requires]
python_version = "2.7"
