[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
aimmo-game-creator = { editable = true, path = "." }
docker = "*"
google-cloud-logging = "*"

[requires]
python_version = "3.7.7"

[dev-packages]
black = "==20.8b1"
pytest = "*"
httmock = "*"
