{% extends 'players/base.html' %}

{% block nav-login %}<li class="active"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li> {% endblock%}

{%  block content %}
<div class="container">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Login</div>
            </div>

            <div class="panel-body" >
                <form class="form-horizontal" role="form" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />

                    <div class="form-group">
                        <div class="col-md-12 control">
                            Don't have an account?
                            <a href="{% url 'register' %}" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                Register
                            </a>
                        </div>
                    </div>

                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}

                    {% if form.username.errors %}
                    <div class="alert alert-danger">
                        {{ form.username.errors }}
                    </div>
                    {% endif %}
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="username or email">
                    </div>

                    {% if form.password.errors %}
                    <div class="alert alert-danger">
                        {{ form.password.errors }}
                    </div>
                    {% endif %}
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="password">
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <button type="submit" class="btn btn-success">Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}