{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"],
      "alias": {
        "features": "./src/redux/features",
        "theme": "./src/theme",
        "api": "./src/redux/api"
      }
    }],
    "@babel/plugin-proposal-class-properties"
  ]
}
