{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "3",
        "useBuiltIns": "entry",
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": [
          "./src"
        ],
        "alias": {
          "features": "./src/redux/features",
          "theme": "./src/theme",
          "api": "./src/redux/api",
          "testHelpers": "./src/testHelpers"
        }
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {},
      "class-properties"
    ],
    "transform-optional-chaining"
  ]
}