{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": [
          "./src"
        ],
        "alias": {
          "features": "./src/redux/features"
        }
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
