{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-handler-names": "off",
    "react/jsx-pascal-case": [
      "error",
      {
        "allowAllCaps": true
      }
    ]
  }
}