name: End to end tests
on: [pull_request]
jobs:
  cypress-run:
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7.x

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install dependencies
        run: |
          pip install pipenv
          pipenv install --system
          cd game_frontend
          yarn install
      - name: Build project and run server
        run: |
          python ${{ github.workspace }}/run.py -c &
          sleep 100
      - name: Cypress run
        uses: cypress-io/github-action@v1
        with:
          install: false
          working-directory: game_frontend
          wait-on: http://localhost:8000
          wait-on-timeout: 400
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
